<nav class="navbar navbar-expand-lg navbar-light sticky-top top-bar" id="top-bar">
  <div class="container">
    <%= link_to 'Andre Costa', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item <%= active_class posts_path %>">
            <%= link_to 'Posts', posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class categories_path %>">
            <%= link_to 'Categories', categories_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Procurar" id="navbar-search-input">
    </form> -->
  </div>
</nav>
