<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      <div class="col">
        <%= f.input :title %>
      </div>
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
            <%= f.input :image %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { height: 600 } }, label: false %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
