<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Exibir', post, class: 'btn btn-light' %>
            <%= link_to 'Editar', edit_post_path(post), class: 'btn btn-light' %>
            <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Post', new_post_path, class: 'btn btn-primary' %>
