<div class="row">
  <div class="col">
    <h1><%= @post.title %></h1>
  </div>
  <div class="col">
    <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-secondary float-right' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= @post.abstract %>
  </div>
  <div class="col">
    <%= image_tag @post.image, class: 'img-fluid' %>
    <hr>
    <%= @post.body.html_safe %>
  </div>
</div>
