<div class="row justify-content-md-center">
  <div class="col-12">
    <%= image_tag @post.image, class: 'img-fluid' %>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8 post-title">
    <h1><%= @post.title %></h1>
  </div>
  <div class="col-8 post-introduction">
    <div class="intro">
      <%= @post.abstract %>
    </div>


    <div class="row">
      <div class="col">
        <span class="updated_at float-right">
          <%= l @post.updated_at, format: "%d/%m/%Y ás %H:%M" %>
        </span>
        <span class="author float-left">
          Por Andre
        </span>
      </div>
    </div>

  </div>
  <div class="col-8 post-content">
    <%= @post.body.html_safe %>
  </div>
</div>
